.header {
  margin: 0;
  font-family: 'Noto Serif JP',serif;
  font-size: 100px;
  text-align: center;
}

.description {
  font-family: 'Noto Serif JP',serif;
  font-size: 40px;
  padding: 0 20%;
  text-align: center;
}

#title {
  transition: 0.5s;
  z-index: 2;
}


.body {
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0;
  transition: 0.5s
}

.center {
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 16px;
  grid-template-rows: 220px;
  transition: 0.5s;
}

#description {
  transition: 0.5s;
  z-index: 2;
}


.left {
  background-color: #232323;
  height: 100%;
  width: 0;
  transition: 0.5s;
  position: fixed;
  z-index: 1;
  visibility: hidden;
}

.menu {
  text-align: right;
  height: 25vh;

  color: white;
  font-size: 40px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
}

.outer-menu {
  padding-top: 2px;
}

.left-content {

  width: 100%;
  height: 50vh;
  margin: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  border-top-style: solid;
  border-bottom-style: solid;
}

.left-button {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-column-gap: 1px;
  height: 10%;
  width: 100%;
  background-color: #232323;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: white;
  padding: 20px 0;
  font-family: 'Roboto',sans-serif;
  color: white;
  font-size: 20px;
  vertical-align: center;
  margin: 0;
}


.icon {
  margin-left: 10%;
}

.left-button:hover .button-text,.left-button:hover .icon,.menu-buttons:hover {
  color: aquamarine;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
  cursor: pointer;
}













